$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import './colors';

// $unit: 30px;
// $width: (2 * $unit);
// $height: (2 * $unit);

.game-board {
  display: inline-block;
  height: 80%;
  margin: 0 25%;
  text-align: center;
  width: 50%;
  // margin: 0 25%;
  // text-align: center;
  // width: 50%;
}

.tile {
  background-color: $tile-color;
  border-color: $border-color;
  height: 150px;
  width: 150px;
  text-align: center;
  float: left;
  border-radius: 10px;
  margin: 2%;
}
