$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import './colors';

body {
  background-color: $background-color;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 100px;
  margin-right: 25%;
  margin-top: 20%;
  padding-left: 26%;
  text-align: center;
}

.game-data {
  color: $text-color;
  float: left;
  font-size: 22px;
  text-align: center;
  width: 25%;
}

#new-game {
  font-size: 25px;
  margin-top: 5%;
  text-align: center;

}

#player-wins {
  font-size: 40px;
  margin-left: 25%;
  text-align: center;
}

#signInFail {
  font-size: 24px;
}

.btn-primary {
  font-size: 18px;
  background-color: $background-color;
  border-color: $background-color;
  color: $text-color;
  font-family: 'PT Sans Narrow', sans-serif;
}

.game-board {
  display: inline-block;
  height: 80%;
  margin: 0 25%;
  padding-left: 6%;
  text-align: center;
  width: 50%;
}

.tile {
  background-color: $tile-color;
  border: 5px solid $border-color;
  border-radius: 10px;
  border-width: medium;
  color: $text-color;
  float: left;
  font-size: 72px;
  height: 150px;
  margin: 2%;
  padding-top: 3%;
  text-align: center;
  width: 150px;
}
