$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import './colors';

body {
  background-color: $background-color;
}

h1 {
  font-family: sans-serif;
  font-size: 60px;
  padding-left: 26%;
  text-align: center;
}

// .game-data {
//   color: $text-color;
//   float: right;
// }

#player-wins {
  text-align: center;
  font-size: 40px;
}

.btn-primary {
  background-color: $background-color;
  border-color: $background-color;
  color: $text-color;
}

.game-board {
  display: inline-block;
  height: 80%;
  margin: 0 25%;
  padding-left: 6%;
  text-align: center;
  width: 50%;
}

.tile {
  background-color: $tile-color;
  border: 5px solid $border-color;
  border-radius: 10px;
  border-width: medium;
  color: $text-color;
  float: left;
  font-size: 72px;
  height: 150px;
  margin: 2%;
  padding-top: 3%;
  text-align: center;
  width: 150px;
}
