$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import './colors';


.game-board {
  display: inline-block;
  // height: 80%;
  // margin: 0 25%;
  // text-align: center;
  // width: 50%;
}

.tile {
  background-color: $tile-color;
  border-color: $border-color;
  border-radius: 10px;
  float: left;
  height: 50px;
  margin: 0;
  text-align: center;
  width: 150px;
}
